* {
    padding: 0;
    margin: 0;
}

header{
    text-align: center;
    margin-top: 2.5rem;
}

.elemento-principal{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.calculo-total{
    display: flex;
    justify-content: center;

}
 button{
    background-color: red;
    color: white;
    font-family: 1.2rem;
    width: 80px;
    height: 25px;
 }